*{
	margin: 0;
	padding: 0;
}
body{
	background-color: gray;
}

.logo-container {
	display: flex;
	align-items: center;
	font-size: 30px;

}

		
.menuu {
	margin-top: 200px;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
}


.icon-feature{
	font-size: 50px;
}
