* {
	margin: 0;
	padding: 0;
}

.wrapp {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.containerr {
  flex-grow: 1;
}
.cnt-main{
	display: flex;
}
.main-cnt{
	width: 70%;
}
.banner1{
	width: 15%;
	margin-top: 90px;
	text-align: center;
}
.banner1 img{
	width: 70%;
	height: 600px;
}
.banner2{
	width: 15%;
	margin-top: 90px;
	text-align: center;
}
.banner2 img{
	width: 70%;
	height: 600px;
	
}
.banner img{
	width: 100vw;
	height: 400px;
}
.title-content{
	display: inline-block;
	border-bottom: 10px solid rgb(255, 128, 0);
}

body{
	background-color: rgb(244,244,244)!important;
}
.product-item {
	width: 250px;
	padding: 10px;
	box-shadow: 0 4px 6px #00000029;
    border-radius: 8px;
    border: none;
	background-color: white;
	max-height: 331px;
}




.side{
	margin-left: 70px;
	width: 15%;
	float: left;
}


.sidebarrr {
    width: 200px;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #00000029;
    margin-bottom: 30px;
}
.title-side{
	font-weight: 1000;
	font-size: 20px;
}

.sidebarrr ul {
    list-style-type: none;
    padding: 0;
}

.sidebarrr li {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.sidebarrr a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebarrr a:hover {
    color: #007bff;
}

.main-content {
    padding: 20px;
    padding-top: 0;
}

.featured-products {
	text-align: center;
	margin-top: 30px;
}

.featured-products h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	width: 100%;
	margin: 0 auto;

}
.filterr{
	min-height: 682px;
	width: 80%;
	margin: 0 auto;
}

.active1{
	background-color: orange;
}

.product-item img {
	width: 150px;
	height: 150px;
}

.product-item h3 {
	font-size: 18px;
	margin: 10px 0;
}

.product-item .price {
	font-weight: bold;
}
.pagination{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.hidee{
	visibility: hidden;
}
.contact-container{
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	text-align: center;
}

footer {
	margin-top: 20px;
	background-color: rgb(255, 128, 0);
	padding: 20px 0;
	text-align: center;
}

.footer-container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	color: white;
}

.contact-info,
.footer-links,
.social-links {
	flex: 1;
}

h3 {
	font-size: 18px;
	margin-bottom: 10px;
}

p,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	margin-bottom: 5px;
}

ul li a {
	text-decoration: none;
	color: white;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
	font-size: 20px;
	margin-right: 10px;
	color: white;
}

	