*{
	margin: 0;
	padding: 0;
}


.logo-container {
	display: flex;
	align-items: center;
	font-size: 30px;

}
.btn{
	background-color: rgb(255, 128, 0) !important;
	
}
		
.menuu {
	margin-top: 200px;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
}


.icon-feature{
	font-size: 50px;
}
.logo-container {
	display: flex;
	align-items: center;
	font-size: 30px;

}
.logo,
.cart-icon {
	font-size: 40px;
}
.header {
	display: flex;
	padding: 20px;
	background-color: rgb(255, 128, 0);
	align-items: center;
	color: white;
	justify-content: space-between;
}
.menuu .btn{
	background-color: rgb(255, 128, 0) !important;
}
.menuu .btn:hover{
background-color: orangered !important;
}