* {
	margin: 0;
	padding: 0;
}


.header {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	background-color: rgb(255, 128, 0);
	align-items: center;
}

.header a {
	text-decoration: none;
	color: white;
}

.logo-container {
	display: flex;
	align-items: center;
	font-size: 30px;

}

.logo-container:hover {
	cursor: pointer;
	color: lightgray;
}

.logo,
.cart-icon {
	font-size: 40px;
}
.cart:hover{
	color: lightgray;
}

.search-container {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.search {
	padding: 14px;
	background-color: rgb(255, 128, 0);
	border-radius: 0 5px 5px 0;
	border: 2px solid rgb(255, 255, 255);
}

.search:hover {
	cursor: pointer;
	color: white;
}


#search-input {
	width: 500px;
	padding: 10px;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 5px 0 0 5px;
}



.banner-content {
	text-align: center;
	color: rgb(255, 128, 0);
}

.banner-content h2 {
	font-size: 36px;
	margin-bottom: 20px;
}

.banner-content p {
	font-size: 18px;
	margin-bottom: 30px;
}

.main-menu {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	background-color: rgb(255, 128, 0);
	padding-bottom: 10px;
}


.main-menu a {
	font-size: 20px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 10px;
	border-radius: 10px;
}

.main-menu a:hover {
	background-color: white;
	color: rgb(255, 128, 0);
}

.activee {
	background-color: white;
	color: rgb(255, 128, 0) !important;
}

.featured-products {
	text-align: center;
	margin-top: 30px;
}

.featured-products h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;

}
.btn{
	background-color: darkorange !important;
	border: 2px solid rgb(255, 255, 255) !important;
}
.btn:hover{
	background-color:orangered !important;
	color: white !important;
}


.product-item img {
	width: 100%;
	height: auto;
}

.product-item h3 {
	font-size: 18px;
	margin: 10px 0;
}

.product-item .price {
	font-weight: bold;
}





footer {
	margin-top: 20px;
	background-color: rgb(255, 128, 0);
	padding: 20px 0;
	text-align: center;
}

.footer-container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	color: white;
}

.contact-info,
.footer-links,
.social-links {
	flex: 1;
}

h3 {
	font-size: 18px;
	margin-bottom: 10px;
}

p,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	margin-bottom: 5px;
}

ul li a {
	text-decoration: none;
	color: white;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
	font-size: 20px;
	margin-right: 10px;
	color: white;
}

	